body{
    margin: 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

main{
    height: 100vh;
    background: repeating-linear-gradient(-45deg, black 0px,black 50px, green 50px, green 100px);
    display: flex;
    justify-content: center;
}

.box{
    background-color: white;
    display: grid;
    border: 4px solid black;
    padding: 20px;
    grid-template-columns: 1fr 1fr auto;
}

img{
    width: 100px;
}

#verificado{
    width: 40px;
}

h1{
    font-size: 1.8em;
    background-color: white;
    border: 4px solid black;
    padding: 20px;
}